node_modules/
.env
*.log

backend/uploads/*
!backend/uploads/.gitkeep

frontend/dist/
frontend/dist-ssr/

frontend/android/app/build/
frontend/android/build/
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/captures/
frontend/android/app/src/main/assets/public/
frontend/android/app/src/main/assets/capacitor.config.json
frontend/android/app/release/
